
<footer class="footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h2 class="logo-text"><span>Компания</span></h2>
            <p>
                Мы предоставляем решения в области...
            </p>
            <div class="contact">
                <span><i class="fas fa-phone"></i>123-456-789</span>
                <span><i class="fas fa-envelope"></i>info@example.com</span>
            </div>
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-section links">
            <h2>Ссылки</h2>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Ваша Компания. Все права защищены.
    </div>
</footer>
