{% if nft.has_previous or nft.has_next %}
    <div class="flex items-center justify-between border-t border-gray-700  bg-opacity-50 px-4 py-3 sm:px-6">
        <div class="flex flex-1 justify-between sm:hidden">
            {% if nft.has_previous %}
                <a href="?page={{ nft.previous_page_number }}" class="relative inline-flex items-center rounded-md border border-gray-600 bg-gray-900 px-4 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700">Previous</a>
            {% endif %}
            {% if nft.has_next %}
                <a href="?page={{ nft.next_page_number }}" class="relative ml-3 inline-flex items-center rounded-md border border-gray-600 bg-gray-900 px-4 py-2 text-sm font-medium text-gray-200 hover:bg-gray-700">Next</a>
            {% endif %}
        </div>
        <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
            <div>
                <p class="text-sm text-gray-200">
                    
                    <span class="font-medium">{{ nft.start_index }}</span>
                    —
                    <span class="font-medium">{{ nft.end_index }}</span>
                    из
                    <span class="font-medium">{{ nft.paginator.count }}</span>

                </p>
            </div>
            <div>
                <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                    {% if nft.has_previous %}
                        <a href="?page={{ nft.previous_page_number }}" class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-600 hover:bg-gray-700 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Previous</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    {% endif %}
                    {% for i in nft.paginator.page_range %}
                        <a href="?page={{ i }}" class="{% if nft.number == i %}relative z-10 inline-flex items-center bg-blue-800 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600{% else %}relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-200 ring-1 ring-inset ring-gray-600 hover:bg-gray-700 focus:z-20 focus:outline-offset-0{% endif %}">{{ i }}</a>
                    {% endfor %}
                    {% if nft.has_next %}
                        <a href="?page={{ nft.next_page_number }}" class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-600 hover:bg-gray-700 focus:z-20 focus:outline-offset-0">
                            <span class="sr-only">Next</span>
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
{% endif %}
